.button {
  z-index: 10;
  position: relative;
  border: 2px solid white;
  border-radius: 40px;
  padding: 10px 50px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.3s, box-shadow 0.5s;
  cursor: pointer;


  &:hover {
    color: rgb(0, 1, 18);
    //background: white;
    box-shadow: inset 0 0 0 2em #ffffff;
  }
}

.button--small {
  margin: 0px 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;

  &::before {
    content: '[';
    color: white;
    position: absolute;
    z-index: 10;
    left: -4px;
    opacity: 0;
    transition: all 0.3s;
  }

  &::after {
    content: ']';
    color: white;
    position: absolute;
    z-index: 10;
    right: -4px;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover::before {
    left: -15px;
    opacity: 1;
  }

  &:hover::after {
    right: -15px;
    opacity: 1;
  }
}