@mixin fontface ($name, $woff2, $woff, $style, $weight) {
  @font-face {
    font-family: $name;
    src: url($woff2) format("woff2"), url($woff) format("woff");
    font-style: $style;
    font-weight: $weight; 
  }
}