.pane {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.fade-leave-active,
.fade-enter-active {

  &::after {
    content: '';
    opacity: 0;
    background: black;
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.fade-leave-active {
  animation: fake 1s;

  &::after {
    opacity: 0;
    animation: slideLeave 1s ease; 
  }
}

.fade-enter-active {
  animation: fake 1s 1s;

  &::after {
    opacity: 0;
    animation: slideEnter 1s ease 1s;

  }
}

@keyframes slideLeave {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideEnter {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}